.success {
    color: green;
    background: lightgrey;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}
.error {
    color: red;
    background: lightgrey;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}